body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#socket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#message-container {
    height: 300px;
    width: 1000px;
    border: 1px solid #ddd;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form label, form input, form button {
    margin: 8px;
}

form input {
    padding: 8px;
    width: 150px; /* Adjust width as needed */
    box-sizing: border-box;
}

form button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}

form button:hover {
    background-color: #45a049;
}

#room-input {
    margin-right: 8px;
}

#message-input {
    flex-grow: 1;
}

#room-button {
    background-color: #2196F3;
}

#room-button:hover {
    background-color: #0b7dda;
}
